@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");
.navfont {
  font-family: "Montserrat", sans-serif;
}
.mainperafont {
  font-family: "Open Sans", sans-serif;
}
.formfont {
  font-family: "Poppins", sans-serif;
}
.formbtnbg {
  background: rgb(255, 114, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 114, 0, 1) 35%,
    rgba(252, 149, 0, 1) 59%
  );
}

.bgimg {
  background-image: url("images/mainimg/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.boxshadowcolor {
  box-shadow: -7px 7px 14px rgb(165, 165, 165);
}








/* afdiuafha */
/* .dropdown-menu {
  display: none;
  transition: all 0.3s ease;
}

.dropdown-menu.open {
  display: block;
  animation: fadeIn 0.3s;
}

.dropdown-menu.closed {
  display: none;
  animation: fadeOut 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
} */